body {
    background-color: #e7e6e5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tasks {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}



.toDoInput {
    width: 250px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #cacaca;
    font-size: 14px;
}

.addToDoButton {
    font-size: 14px;
    color: white;
    background-color: #23bb08;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addToDoButton:hover {
    background-color: #20820e;
}

#todoList {
    list-style-type: none;
    padding: 0;
    width: 320px;
}

#todoList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#todoList li span {
    flex: 1;
    margin-left: 8px;
}

#todoList li button {
    background-color: #ff4c4c;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#todoList li button:hover {
    background-color: #cc0000;
}

.done {
    text-decoration: line-through;
    color: gray;
}
